<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{path '/css/index.css'}}" />
    <title>Preview Layout</title>
  </head>
  <body>
    <div class="entry">
      <h1>{{title}}</h1>
      <div class="body">
        {{{yield}}}
      </div>
    </div>
  </body>
</html>