@use "../base/index" as *;

.el_beforeIconBtn {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.3em;
  border: 1px solid currentColor;
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.3s ease;

  &:focus,
  &:hover {
    background-color: var(--color-primary);
    color: #fff;
  }

  &::before {
    display: inline-block;
    margin-right: 0.5em;
    @include fontAwesome;
  }

  &.el_beforeIconBtn__download {
    &::before {
      content: "\f019";
    }
  }

  &.el_beforeIconBtn__zoom {
    &::before {
      content: "\f00e";
      transform: translateY(-6%);
    }
  }
}
