@use "../base/index" as *;

.el_beforeIcon {
  &::before {
    display: inline-block;
    margin-right: 0.3em;
    color: var(--color-primary);
    @include fontAwesome;
  }

  &__pdf::before {
    content: "\f1c1";
  }

  &__pp::before {
    content: "\f1c4";
  }

  &__checkbox::before {
    content: "\f14a";
  }

  &__chevLeft::before {
    content: "";
    width: 0.375em;
    height: 0.375em;
    border-bottom: 0.125em solid var(--color-primary);
    border-left: 0.125em solid var(--color-primary);
    transform: rotate(45deg) translateY(-30%);
  }
}
