.bl_cta {
  padding: 30px;
  background-color: rgba(211, 116, 44, 0.5);
  border: 1px solid var(--color-primary);
  text-align: center;

  & > *:last-child {
    margin-bottom: 0;
  }
}

.bl_cta_ttl {
  padding-bottom: 10px;
  margin-top: -6px;
  margin-bottom: 40px;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: bold;
}

.bl_cta_txt {
  margin-bottom: 40px;
}
