.bl_faq {
  & > *:last-child {
    margin-bottom: 0;
  }
}

.bl_faq_q,
.bl_faq_a {
  position: relative;
  display: flex;
  align-items: flex-start;
  min-height: 45px;
  padding-left: 60px;
  box-sizing: content-box;
}

.bl_faq_q {
  margin-bottom: 15px;
  font-size: 1.125rem;
  font-weight: bold;

  .bl_faq_icon {
    background-color: var(--color-primary);
    color: #fff;
  }
}

.bl_faq_q_txt {
  padding-top: 12px;
}

.bl_faq_a {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;

  .bl_faq_icon {
    background-color: #efefef;
    color: var(--color-primary);
  }
}

.bl_faq_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  font-weight: normal;
}

.bl_faq_a_body {
  padding-top: 12px;

  & > *:last-child {
    margin-bottom: 0;
  }
}

.bl_faq_a_txt {
  margin-bottom: 20px;
}
