.bl_horizonBtnList {
  display: flex;
  justify-content: center;
  gap: 20px;

  & > li {
    flex: 1;
    max-width: 300px;
  }

  .el_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
