.ly_cont
  section.ly-section
    h2.el_sectTtl ボタン
    a.el_btn(href="") 標準ボタン
  section.ly-section
    h2.el_sectTtl 矢印付きボタン
    a.el_btn.el_btn__arrowRight(href="") 矢印付きボタン
  section.ly-section
    h2.el_sectTtl 大ボタン
    a.el_btn.el_btn__large(href="") 大ボタン
  section.ly-section
    h2.el_sectTtl 色違いボタン
    a.el_btn.el_btn__yellow(href="") 色違いボタン
  section.ly-section
    h2.el_sectTtl 角丸ボタン
    a.el_roundedBtn(href="") 角丸ボタン
  section.ly-section
    h2.el_sectTtl アイコン付き小ボタン
    a.el_beforeIconBtn.el_beforeIconBtn__download(href="") アイコン付き小ボタン