.ly_cont
  section.ly-section
    h2.el_sectTtl ボタン
    a.el_btn(href="") 標準ボタン
  section.ly-section
    h2.el_sectTtl 矢印付きボタン
    a.el_btn.el_btn__arrowRight(href="") 矢印付きボタン
  section.ly-section
    h2.el_sectTtl 大ボタン
    a.el_btn.el_btn__large(href="") 大ボタン
  section.ly-section
    h2.el_sectTtl 色違いボタン
    a.el_btn.el_btn__yellow(href="") 色違いボタン
  section.ly-section
    h2.el_sectTtl 角丸ボタン
    a.el_roundedBtn(href="") 角丸ボタン
  section.ly-section
    h2.el_sectTtl アイコン付き小ボタン
    a.el_beforeIconBtn.el_beforeIconBtn__download(href="") アイコン付き小ボタン
  section.ly-section
    h2.el_sectTtl 拡大
    a.el_beforeIconBtn.el_beforeIconBtn__zoom(href="") 拡大
  section.ly-section
    h2.el_sectTtl アイコン
    p: a.el_beforeIcon.el_beforeIcon__pdf(href="") ファイル名.pdf
    p: a.el_beforeIcon.el_beforeIcon__pp(href="") ファイル名.pdf
    p: a.el_beforeIcon.el_beforeIcon__checkbox(href="") チェックボックス.pdf
    p: a.el_beforeIcon.el_beforeIcon__chevLeft(href="") 戻る
    p: a.el_afterIcon.el_afterIcon__chevRight(href="") すすむ