.ly_cont
  section.ly-section
    h2.el_sectTtl ボタン
    a.el_btn(href="") 標準ボタン
  section.ly-section
    h2.el_sectTtl 矢印付きボタン
    a.el_btn.el_btn__arrowRight(href="") 矢印付きボタン
  section.ly-section
    h2.el_sectTtl 大ボタン
    a.el_btn.el_btn__large(href="") 大ボタン
  section.ly-section
    h2.el_sectTtl 色違いボタン
    a.el_btn.el_btn__yellow(href="") 色違いボタン
  section.ly-section
    h2.el_sectTtl 角丸ボタン
    a.el_roundedBtn(href="") 角丸ボタン
  section.ly-section
    h2.el_sectTtl アイコン付き小ボタン
    a.el_beforeIconBtn.el_beforeIconBtn__download(href="") アイコン付き小ボタン
  section.ly-section
    h2.el_sectTtl 拡大
    a.el_beforeIconBtn.el_beforeIconBtn__zoom(href="") 拡大
  section.ly-section
    h2.el_sectTtl アイコン
    p: a.el_beforeIcon.el_beforeIcon__pdf(href="") ファイル名.pdf
    p: a.el_beforeIcon.el_beforeIcon__pp(href="") ファイル名.pdf
    p: a.el_beforeIcon.el_beforeIcon__checkbox(href="") チェックボックス.pdf
    p: a.el_beforeIcon.el_beforeIcon__chevLeft(href="") 戻る
    p: a.el_afterIcon.el_afterIcon__chevRight(href="") すすむ
  section.ly-section
    h2.el_sectTtl ラベル
    p: span.el_label NEWS
    p: span.el_label.el_label__yellow NEWS
    p: a.el_label(href="") NEWS
    p: a.el_roundedLabel(href="") NEWS
  section.ly-section
    h3.el_sectTtl 見出し
    h1.el_lv1Heading: span ページタイトル(h1)
    h2.el_lv2Heading 見出し(h2)
    h3.el_lv3Heading 見出し(h3)
    h4.el_lv4Heading 見出し(h4)
    h5.el_lv5Heading 見出し(h5)
    h6.el_lv6Heading 見出し(h6)
  section.ly-section
    h3.el_sectTtl 注釈
    strong.el_caution ※注釈が入ります。
    p.el_note ※注釈が入ります。
  section.ly-section
    h3.el_sectTtl メディア
    .bl_samplePattern
      h4.el_lv4Heading.bl_samplePattern_ttl 通常パターン
      .bl_media
        figure.bl_media_imgWrapper
          picture
            source(srcset="/img/img-01.webp")
            img(src="/img/img-01.webp", alt="")
        .bl_media_body
          h3.bl_media_ttl ユーザーを考えた設計で満足な体験を
          p.bl_media_txt
            | 提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことによって、訪問者にストレスのないより良い体験を生み出し、満足を高めることができます。
            br
            | 私たちはお客さまのサイトにあったユーザビリティーを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエーティビティーとテクノロジーを設計・構築し、今までにない機体を超えたユーザー体験を提供いたします。
    .bl_samplePattern
      h4.el_lv4Heading.bl_samplePattern_ttl 逆位置パターン
      .bl_media.bl_media_rev
        figure.bl_media_imgWrapper
          picture
            source(srcset="/img/img-01.webp")
            img(src="/img/img-01.webp", alt="")
        .bl_media_body
          h3.bl_media_ttl ユーザーを考えた設計で満足な体験を
          p.bl_media_txt
            | 提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことによって、訪問者にストレスのないより良い体験を生み出し、満足を高めることができます。
            br
            | 私たちはお客さまのサイトにあったユーザビリティーを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエーティビティーとテクノロジーを設計・構築し、今までにない機体を超えたユーザー体験を提供いたします。
    .bl_samplePattern
      h4.el_lv4Heading.bl_samplePattern_ttl 画像半分サイズ
      .bl_halfMedia
        figure.bl_halfMedia_imgWrapper
          picture
            source(srcset="/img/img-01.webp")
            img(src="/img/img-01.webp", alt="")
        .bl_halfMedia_body
          h3.bl_halfMedia_ttl ユーザーを考えた設計で満足な体験を
          p.bl_halfMedia_txt
            | 提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことによって、訪問者にストレスのないより良い体験を生み出し、満足を高めることができます。
            br
            | 私たちはお客さまのサイトにあったユーザビリティーを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエーティビティーとテクノロジーを設計・構築し、今までにない機体を超えたユーザー体験を提供いたします。

    section.ly-section
        h3.el_sectTtl カード
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl 通常パターン
          .bl_card
            figure.bl_card_imgWrapper
              picture
                source(srcset="/img/img-01.webp")
                img(src="/img/img-01.webp", alt="")
            .bl_card_body
              .bl_card_ttl webサイト制作
              .bl_card_txt ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl バッジ付き
          .bl_card
            b.bl_card_badge: span.bl_card_badge_txt New
            figure.bl_card_imgWrapper
              picture
                source(srcset="/img/img-01.webp")
                img(src="/img/img-01.webp", alt="")
            .bl_card_body
              .bl_card_ttl webサイト制作
              .bl_card_txt ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl リンク
          a.bl_card(href="")
            figure.bl_card_imgWrapper
              picture
                source(srcset="/img/img-01.webp")
                img(src="/img/img-01.webp", alt="")
            .bl_card_body
              .bl_card_ttl webサイト制作
              .bl_card_txt ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl 3枚並び
          .bl_cardUnit.bl_cardUnit__col3
            - for (var x = 0; x < 3; x++)
              .bl_card
                figure.bl_card_imgWrapper
                  picture
                    source(srcset="/img/img-01.webp")
                    img(src="/img/img-01.webp", alt="")
                .bl_card_body
                  .bl_card_ttl webサイト制作
                  .bl_card_txt ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl 4枚並び
          .bl_cardUnit.bl_cardUnit__col4
            - for (var x = 0; x < 4; x++)
              .bl_card
                figure.bl_card_imgWrapper
                  picture
                    source(srcset="/img/img-01.webp")
                    img(src="/img/img-01.webp", alt="")
                .bl_card_body
                  .bl_card_ttl webサイト制作
                  .bl_card_txt ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl FAQ
          dl.bl_faq
          - for(var x =0; x < 4; x++)
              dt.bl_faq_q
                span.bl_faq_icon Q
                span.bl_faq_q_txt どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？
              dd.bl_faq_a
                span.bl_faq_icon A
                .bl_faq_a_body
                  p.bl_faq_a_txt WordPress, Movable Type, HubSpot CMS, Sitecoreの開発実績がございます。WordPress, Movable Type, HubSpot CMS, Sitecoreの開発実績がございます。WordPress, Movable Type, HubSpot CMS, Sitecoreの開発実績がございます。WordPress, Movable Type, HubSpot CMS, Sitecoreの開発実績がございます。WordPress, Movable Type, HubSpot CMS, Sitecoreの開発実績がございます。
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl アコーディオン
          dl.bl_accordion
            dt
              button.bl_accordion_btn.is_active(type="button") どのようなCMSの実績がありますか？
            dd.bl_accordion_body.is_active
              p.bl_accordion_txt WordPress, Movable Type, HubSpot CMS, Sitecoreの開発実績がございます。
            dt
              button.bl_accordion_btn(type="button") どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？
            dd.bl_accordion_body
              p.bl_accordion_txt WordPress, Movable Type, HubSpot CMS, Sitecoreの開発実績がございます。
            dt
              button.bl_accordion_btn(type="button") どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなCMSの実績がありますか？どのようなC
            dd.bl_accordion_body
              p.bl_accordion_txt WordPress, Movable Type, HubSpot CMS, Sitecoreの開発実績がございます。MSの実績がありますか？どのようなCMSの実績がありますか？MSの実績がありますか？どのようなCMSの実績がありますか？MSの実績がありますか？どのようなCMSの実績がありますか？MSの実績がありますか？どのようなCMSの実績がありますか？
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl ジャンボトロン
          .bl_jumbotron(style='background-image:url("/img/img-01.webp")')
            .bl_jumbotron_inner
              p.bl_jumbotron_ttl
                | 貴社のビジネスに適切な戦略をご提案し
                br.lg_only
                | 成果に貢献いたします
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl ポストリスト
          ul.bl_vertPosts
            li.bl_vertPosts_item
              .bl_vertPosts_header
                time.bl_vertPosts_date(datetime="2022-05-06") 2022/05/06
              a.bl_vertPosts_ttl(href="") 「多言語サイトを構築する」1対象言語・地域とURL方式の選定
            li.bl_vertPosts_item
              .bl_vertPosts_header
                time.bl_vertPosts_date(datetime="2022-05-06") 2022/05/06
              a.bl_vertPosts_ttl(href="") 「多言語サイトを構築する」1対象言語・地域とURL方式の選定
            li.bl_vertPosts_item
              .bl_vertPosts_header
                time.bl_vertPosts_date(datetime="2022-05-06") 2022/05/06
              a.bl_vertPosts_ttl(href="") 「多言語サイトを構築する」1対象言語・地域とURL方式の選定
        h2.el_lv2Heading 最小モジュールを利用した複合モジュールの作成
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl 並行ボタンリスト
          ul.bl_horizonBtnList
            li: a.el_btn.el_btn__yellow(href="") 戻る
            li: a.el_btn(href="") 「多言語サイトを構築する」1対象言語・地域とURL方式の選定
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl ボタン+画像半分メディア
          .bl_halfMedia
            figure.bl_halfMedia_imgWrapper
              picture
                source(srcset="/img/img-01.webp")
                img(src="/img/img-01.webp", alt="")
            .bl_halfMedia_body
              h3.bl_halfMedia_ttl ユーザーを考えた設計で満足な体験を
              p.bl_halfMedia_txt
                | 提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことによって、訪問者にストレスのないより良い体験を生み出し、満足を高めることができます。
                br
                | 私たちはお客さまのサイトにあったユーザビリティーを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエーティビティーとテクノロジーを設計・構築し、今までにない機体を超えたユーザー体験を提供いたします。
              a.el_btn.el_btn__arrowRight(href="") 戦略制定サービスについて
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl ボタン+CTAエリア
          .bl_cta
            h2.bl_cta_ttl お気軽にお問合せください
            p.bl_cta_txt 弊社サービスや製品のことで気になることがありましたら、お気軽にご連絡ください。
            a.el_btn(href="") 問い合わせする
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl ラベル+ポストリスト
          ul.bl_vertPosts
            - for(var i = 0; i < 3; i++)
              li.bl_vertPosts_item
                .bl_vertPosts_header
                  time.bl_vertPosts_date(datetime="2022-05-06") 2022/05/06
                  ul.bl_vertPosts_labels
                    li
                      span.el_label 海外マーケディング
                    li
                      span.el_label お役立ちツール
                  a.bl_vertPosts_ttl(href="") [多言語サイトを構築する]1対象言語・地域とURL方式の選定
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl FAQ+リスト
          .dl_faq
            dt.bl_faq_q
              span.bl_faq_icon Q
              span.bl_faq_q_txt どのCMSの開発やCSS設計に対応していますか？
            dd.bl_faq_a
              span.bl_faq_icon A
              .bl_faq_a_body
                p.bl_faq_a_txt それぞれ以下の開発実績がございます。
                ul.bl_bulletList
                  li WordPress
                  li HubSpot
                  li Movable Type
                  li CSS設計
                    ul
                      li BEM
                      li FLOCSS
                      li PRECSS
        .bl_samplePattern
          h4.el_lv4Heading.bl_samplePattern_ttl アコーディオン＋カード＋CTAエリア
          dl.bl_accordion
            dt
              button.bl_accordion_btn.is_active(type="button") サービスのご紹介
            dd.bl_accordion_body.is_active
              p.bl_accordion_txt WordPress, Movable Type, HubSpot CMS, Sitecoreの開発実績がございます。
              .bl_card